.amplify-form-container {
    position: absolute;
    bottom: 0;
    right: 12px;
    color: black !important;
  
    .amplify-section-body {
      div {
        font-size: 15px !important;
      }
    }
  }
  